html {
    color: #fff;
}

body {
    background-color: #282828;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    width: 1120px; /*para o margin auto funcionar, precisamos definir uma largura para nossa tela*/
}

.cabecalho {
    display: flex;/*Usa o conceito de pais e filhos deixando os itens dentro do header um do lado do outro*/
    justify-content: space-between;
    align-items: center; /*alinhamento vertical*/
    padding: 30px 15px;
}

.cabecalho .logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 75px;
    transition: 0.3s; /*efeitos de transição tem de estar no elemento onde ele vai acontecer e não na sub-classe, no caso esse efeito será aplicado no logo quando passar o mause sobre ele*/
}

.cabecalho a:hover .logo {
    color: #9443d8;
    border: 2px solid #9443d8;
}

