html {
    color: #fff;
}

body {
    background-color: #282828;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    width: 1120px; /*para o margin auto funcionar, precisamos definir uma largura para nossa tela*/
}

.cabecalho {
    background-color: blue;
    display: flex;/*Usa o conceito de pais e filhos deixando os itens dentro do header um do lado do outro*/
    justify-content: space-between;
    align-items: center; /*alinhamento vertical*/
    padding: 30px 15px;
}

.cabecalho .logo {
    background-color: yellow;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 75px;
    transition: 0.3s; /*efeitos de transição tem de estar no elemento onde ele vai acontecer e não na sub-classe, no caso esse efeito será aplicado no logo quando passar o mause sobre ele*/
}

.cabecalho a:hover .logo {
    color: #9443d8;
    border: 2px solid #9443d8;
}

.cabecalho .menu ul {
    background-color: red;
}

.cabecalho .menu li a {
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0.3s;
}

.cabecalho .menu li a:hover {
    background-color: #9443d8;
    color: #fff;
    border-radius: 50px;
}

.home {
    background-color: green;
    display: flex;
    min-height: calc(100vh - 130px);
    align-items: center;
    gap: 50px; /*Espaço entre os elementos quando usamos display flex*/
    justify-content: center;
}

.home .informacoes {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .informacoes p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.home .redes-sociais {
    background-color: orange;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home .redes-sociais a i {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.home .redes-sociais a i:hover {
    color: #9443d8;
    border: 2px solid #9443d8;
    transform: scale(1.1);
}

.home .container-foto .foto {
    background-color: red;
    max-width: 450px;
    border-radius: 50%;
}

.home .container-foto img {
    width: 100%;
    border-radius: 50%;
}

.home .foto.sombra-interna {/*não teve espaço entre .foto e .sombra-interna pois são duas classes, e não a .sombra interna dentro de foto*/
    background: linear-gradient(to right, #8A35C8, #18C063, #00EEA2);
}

.projetos {
    background-color: purple;
    padding: 70px 0;
}

.projetos .titulo {
    background-color: aquamarine;
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projetos .container-projetos {
    background-color: pink;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto {
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo {
    display: block;
}

.projetos .projeto img {
    height: 100%;
}

.projetos .projeto h3 {
 background-color: #040203;
 width: 100%;
 padding-left: 20px;
 padding-bottom: 10px;
 padding-top: 10px;
 position: absolute;
 bottom: 0;
}